include README.rst
include LICENSE
include pyproject.toml
include environment.yml
include Makefile
recursive-include pytorch_wavelets/dtcwt/data *.npz
recursive-include tests *.py
recursive-include tests *.npz
recursive-include examples *.py
include examples/README.txt
